@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #141d26;
}

h1,h2,h3,h4,h5,h6, p {
    color: #fff;
}

span {
    font-size: 1.2rem;
    color: #1DA1F2;
}

.container{
    width: 50%;
    height: 100vh;
    margin: 0 auto;
}

.container-card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-card .card {
    width: 100%;
    height: fit-content;
    background-color: #243347;
    padding: 2.5em 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header .card-profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.card-header .card-profile .card-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.card-body p {
    font-size: 1.2rem;
}

.card-footer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-footer .card-footer-like {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}


